@charset "utf-8";
/* CSS Document */
/****** CSS Document For Contact Form ******/
#contactform {
	width:440px;
	margin:25px;
	padding:5px;
	color:white;
	opacity:10;
	background-color:#666666;
	border-radius:10px;
	padding-left:20px;
	padding-bottom:20px;
	padding-top:0.1px;
	padding-right:20px;
}
#contactform h1 {
	text-align:center;
}

label {
	float:left;
	width:100px;
	text-align:right;
	padding-right:5px;
	
}

input, textarea {
	width:310px;
	min-width:310px;
	max-width:310px;
	padding:5px;
	margin:0px 0px 10px 0px;
	margin-bottom: 10px;
}
.submit-div {
	padding-top:10px;
}
a.submit {
	background-color:#333333;
	padding:10px;
	padding-left:50px;
	padding-right:50px;
	margin-left:100px;
	text-decoration:none;
	color:white;
	width:100px;
	border-top-left-radius:10px;
	border-bottom-right-radius:10px;
}
a.submit:hover {
	background-color:#333333;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	border-top-right-radius:10px;
}

p.error {
	color:red;
	text-transform:uppercase;
}

p.sent {
	color:green;
}



